/* Add these styles to your existing CSS file or create a new one */

.commentContainer {
    /* border-bottom: 1px solid #ddd; */
    /* padding: 12px 0; */
    padding: 5px;
}
  
.commentUserInfo {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 8px;
}
  
.commentUserInfo img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}
  
.commentContent {
    margin-bottom: 8px;
    color: #333;
}
  
.commentFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #777;
    font-size: 12px;
}
  
.commentFooter i {
    margin-right: 4px;
}

.likesTimestampWrapper {
    display: flex;
    align-items: center;
}
  
/*
.commentInputContainer {
    display: flex;
    margin-top: 12px;
}
  
.commentInput {
    flex: 1;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    outline: none;
    font-size: 14px;
}
  
.commentButton {
    background: none;
    border: none;
    cursor: pointer;
}
*/
  

.likePostButton:hover {
    cursor: pointer;
    color: #f576ee;
}

.likedPostHeart {
    color: #f576ee;
}

.commentInputContainer {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
    display: flex;
    align-items: center; /* Align items vertically */
}

.commentInput {
    flex: 1; /* Take up remaining space */
    padding: 8px;
    margin-right: 4px;
    border: none; /* Remove the border */
    outline: none; /* Remove the outline */
    border-bottom: 1px solid #888888;
}
  
.commentButton {
    width: 40px; /* Probably not the best to have this hardcoded */
    height: 100%; 
    padding: 8px;
    background-color: transparent;
    color: #474747;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.childComment {
    margin-left: 5%;
}