.carouselContainer {
    /* border: 1px solid blue; */
    height: 600px; /* Set a fixed height for the container */
    margin-bottom: 30px;
}

.carouselImage {
    width: 100%;
    height: 100%;
    max-height: 570px; /* ugh, this is disgusting. 100% doesn't seem to be working. */
    object-fit: contain; /* Ensure the image covers the entire container */
    object-position: center center; /* Center the image horizontally and vertically */
}

.mediaContainer {
    /* border: 1px solid orange; */
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    /* object-position: center center; Center the image horizontally and vertically */
}

.imageMarkerRelativeLocator {
    /* border: 1px dashed yellow; */
    position: relative;
    max-height: 100%;
    object-position: center center; /* Center the image horizontally and vertically */
}

/* show each itemRow when showMarkers */
.itemRow {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s; /* Add a transition for opacity */
}

.showMarkers .itemRow {
    opacity: 1;
}

.mediaCol {
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; Vertical center alignment */
    margin: 5px;
}

.mediaRow {
    height: 100%;
    width: 100%;
    flex: 1; /* Equal width for both columns */
    /* border: 1px solid brown; */
}

.mediaItems {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Single column layout for mediaItems */
    gap: 10px; /* Adjust as needed for spacing between rows */
    grid-auto-rows: max-content; /* Allow rows to adjust height based on content */
}

.itemsCol {
    /* border: 1px solid red; */
    /* visibility: hidden; */
    height: 100%;
    overflow-y: auto; /* Add this line to enable vertical scrolling */
    padding-left:5px;
    flex: 0; /* Equal width for both columns */
    margin: 5px;
    margin-left: 15px;
    width: 0;
    opacity: 0; /* Initially hide the marker */
    transition: opacity 0.3s, flex 0.3s, width 0.3s; /* Add a transition for opacity */
}

.hovered .itemsCol {
    flex: 1;
    opacity: 1;
    /* visibility: visible; */
}

.markerInvisibleDummy {
    position: absolute;
    width: 15px;
    height: 15px;
    opacity: 0;
}
.marker {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #d1d1d1;
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    opacity: 0; /* Initially hide the marker */
    transition: opacity 0.3s; /* Add a transition for opacity */
}
.markerInner {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #757575;
    border-radius: 50%;
    transform: translate(25%, 25%);
    opacity: 0; /* Initially hide the marker */
    transition: opacity 0.3s; /* Add a transition for opacity */
}
/*.hovered*/.showMarkers .marker {
    opacity: 1;
}
/*.hovered*/.showMarkers .markerInner {
    opacity: 1;
}

/* Do show the markers even when itemInfo is out of view */
/* .showMarkers .outOfView .marker {
    opacity: 0;
}
.showMarkers .outOfView .markerInner {
    opacity: 0;
} */

.arrow {
    opacity: 0;
    transition: opacity 0.3s; /* Add a transition for opacity */
}
/*.hovered*/.showMarkers .arrow {
    opacity: 1;
}
.showMarkers .outOfView .arrow {
    opacity: 0;
}

.imageContainer {
    width: 100%;
    height: 580px;
    position: relative;
    /* display: inline-block; */
    display: flex;
    align-items: center; /* Center vertically - not working */
    justify-content: center; /* Center horizontally */
    flex-direction: row; /* Arrange columns horizontally */
    margin-bottom: 20px; /* Adjust as needed for spacing between items */
    /* border: 1px dashed green; */
}

/* define my own slick-slide class */
.mySlickSlide :global(.slick-slide) {
    /* border: 1px dashed black; */
    width: 400px;
    height: 600px;
}
.mySlickSlide .slick-slide {
    height: 100%; 
}
.mySlickSlide .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100%;
}