/* UserPostGrid.module.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
}
  
.postsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    gap: 20px;
    /* max-width: 80%;
    max-height: 700px;
    width:80%;
    height:700px; */
}